<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMiNt</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1 id="heading"></h1>
        <a href="/public/index.html">
            <div class="btn-link">ไปหน้าตะน้อนเป็ดหลัก</div>
        </a>
        <a href="/src/pages/first.html">
            <div class="btn-link">ไปหน้าตะน้อนเป็ด 1</div>
        </a>
        <a href="/src/layouts/second.html">
            <div class="btn-link">ไปหน้าตะน้อนเป็ด 2</div>
        </a>
        <a href="/src/layouts/components/third.html">
            <div class="btn-link">ไปหน้าตะน้อนเป็ด 3</div>
        </a>

        <img src="/assets/img/img_3-for-second.jpg">
    </div>

    <script src="/assets/js/script.js"></script>
</body>
</html>